/* index.css */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #ffffffda; /* Set your desired background color */
}

/* Add any additional global styles you may need here */
